#step2 p {
  margin-top: 30px;
}

.step {
  margin-bottom: 30px;
}

.step-boxes,
.step-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.step-box {
  justify-content: center;
  width: 150px;
  height: 75px;
  margin: 5px;
  text-align: center;
  background: white;
  border: 1px solid #eee;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform-origin: left;
}

.step-box * {
  pointer-events: none;
}

.step-box.clone {
  animation: scaleInX 250ms ease-out;
}

.step-box .clone-only,
.step-box.clone .original-only {
  display: none;
}
.step-box.clone .clone-only {
  display: initial;
}

.step-box.to-be-deleted {
  overflow: hidden;
  animation: scaleOutX 250ms ease-in;
}

.shadow-effect:active,
.mouse-down {
  animation: shadowIn 250ms ease-out;
  animation-fill-mode: both;
}

.shadow-effect,
.mouse-up {
  animation: shadowOut 250ms ease-in;
  animation-fill-mode: both;
}

@keyframes scaleInX {
  from { transform: scaleX(0); opacity: 0; }
  to   { transform: scaleX(1); opacity: 1; }
}

@keyframes scaleOutX {
  from { transform: scaleX(1); opacity: 1; }
  to   { transform: scaleX(0); opacity: 0; margin-right: -160px; }
}

@keyframes shadowIn {
  from {}
  to   {
    box-shadow: 0 0 0 5px white,
                0 0 0 10px rgba(0,0,0,0.3);
  }
}

@keyframes shadowOut {
  0% {
    box-shadow: 0 0 0 5px white,
                0 0 0 10px rgba(0,0,0,0.3);
  }
  75% {
    box-shadow: 0 0 0 10px white,
                0 0 0 50px rgba(0,0,0,0.2);
  }
  99% {
    box-shadow: 0 0 0 15px white,
                0 0 0 100px rgba(0,0,0,0);
  }
  100% {
    box-shadow: none;
  }
}
